@model WarehouseManagementSystem.Models.Product

@{
    ViewData["Title"] = "Delete Product";
}

<h1>Delete Product</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Number)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Number)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Unit)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Unit)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Description)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.CubicVolume)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CubicVolume)</dd>
    </dl>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<a asp-action="Index" class="btn btn-secondary">Cancel</a>
